body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;

  background-image: linear-gradient(315deg, #1151ff, #11b4ff);

  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 4em;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
