body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #11b4ff;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-rows: auto;
  gap: 20px;
  padding: 20px;
  width: 90vw;
  height: 50vh;

  background-color: gray;
  border: 5px solid black;
  border-radius: 7px;

  @media screen and (max-width: 800px) {
    grid-template-columns: auto auto auto;
  }
}
